@import "header";
@import "product-item";
@import 'm-banners';
@import 'm-avaliations';

body {
    background: #232323;
}

img {
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}